body {
    font-size: clamp(12px,4vw,28px);
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    min-height: 100vh;
    text-overflow: ellipsis;
    white-space: wrap;
    word-wrap: break-word;
}

.questions {
    text-align: center;
    background-color: rgb(229, 239, 249,0.7);
    width: 60%;
    border-radius: 5px;
}
.questions h1{
    font-size: 2rem;
    color: rgb(16, 16, 110);
}
.questions form{
    font-weight: 700;
    margin: 1%;
}
.questions>form>ul{
  list-style-type: none;
}
.questions>form>ul>li>label:hover{
    color: red;
    font-size: 110%;
    cursor: pointer;
}
.levels{
    display: grid;
    grid-auto-flow: row;
    background-color:rgb(103, 85, 85,0.7);
    width: 60%;
    border-radius: 5px;
    margin: 1%;
    padding: 1%;
    justify-items: center;
    z-index: 0;
}
.formSubmiter {
    margin-top: 2%;
    background-color: darkgoldenrod; 
    color: white; 
    font-weight: bold; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px; 
    cursor: pointer;
  }
.formSubmiter:hover, .battleButton:hover {
    background-color: goldenrod;
  }
 .battleButton{
    margin-bottom: 1%;
    margin-top: 2%;
    background-color: darkgoldenrod; 
    color: black; 
    font-weight: 900; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px; 
    cursor: pointer;
 } 
 .newGameButton{
    background-color:darkblue; 
    color: white; 
    font-weight: 900; 
    border: none; 
    border-radius: 10px; 
    padding: 10px 20px; 
    cursor: pointer;
 }
 .newGameButton:hover{
    background-color: blue;
 }
 .diamond-button {
    background-color: darkgoldenrod;
    color: white;
    font-weight: bold;
    border: none;
    width: clamp(2rem,5rem,5rem); 
    height: clamp(2rem,5rem,5rem); 
    transform: rotate(45deg); 
    cursor: pointer; 
    margin: 20px;
    padding: auto;
    text-align: center;
    z-index: 1;
  }
  .diamond-button:hover {
    background-color: goldenrod; 
  }
  .diamond-button>p{ 
    transform: rotate(-45deg); 
    padding: 0;
    margin: 0;
    
  }
  .highlight {
    background-color: black;
    color: white;
    width: 30%;
    padding: 20px;
    opacity: 0.7;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
.hidden {
  display: none;
}
.background-image {
    position: absolute;
    top: 20%;
    left: 25%;
    width: 15%;
    min-height: 35%;
    background-image: url('https://github.com/ITAlmir/Quiz-JS/blob/main/images/anime-girl.png');
    background-size: cover;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: -1;
}
.custom-hr {
    width: 55%;
    height: 3px;
    background: linear-gradient(to right,  transparent 0%, red 10%, yellow, white, red 90% , transparent 100%);
    margin: 20px 0;
    backdrop-filter: blur(30px);
  }
  @media screen and (max-width: 20048px) {
    .levels{
        grid-template-columns: repeat(3, 1fr);    
    }
    .diamond-button{
      width: 4rem;
      height: 4rem;
    }
  }
  @media screen and (max-width: 768px) {
    .levels{
        grid-template-columns: repeat(3, 3fr);
        font-size: 17px; 
    }
    .diamond-button{
      width: 3rem;
      height: 3rem;
    }

  }
  @media screen and (max-width: 450px) {
    .levels{
        grid-template-columns: repeat(1, 1fr); 
        font-size: 16px;   
    }
    .diamond-button{
      width: 5rem;
      height: 5rem;
    }
  }
